<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app" class="container">
  <div class ="headline">
    <h1>Travel Planner</h1>
  </div>
  <div class="container-form">
    <form>
      <div class="row">
        <label for="location">Location<small>(City Name)</small>:</label>
        <input id="location" type="text"></input>
      </div>
      <div class="row">
        <label for="start-date">Start Date:</label>
        <input id="start-date" type="date"></input>
      </div>
      <div class="row">
        <label for="finish-date">Finish Date:</label>
        <input id="finish-date" type="date"></input>
      </div>
      <button id="getGeoname" onclick="return Client.submitForm(event)">Search</button>
    </form>
    <div class="error-message hidden" id="errorMessage"></div>
</div>
  <section class="results-section hidden" id="results">
    <div class="results-section__img">
      <img id="city-img" src="" alt="City image">
    </div>
    <div class="results-section__content">
      <h2 class="results-section__content__title">Travel Plan</h2>
      <h3 class="results-section__content__city-name" id="city-name"></h3>
      <P class="results-section__content__travel-period" id="travel-period"></P>
      <div>
        <img id="weather-icon" src="" alt="weather icon">
        <p class="results-section__content__weather-tem" id="weather-tem"></p>
        <p class="results-section__content__weather-des" id="weather-des"></p>
      </div>
    </div>
  </section>
</div>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>

</body>
</html>