<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    <h1>Travel Planner</h1>
  </div>
  <form>
    <label class="visuallyhidden" for="location">Location</label>
    <input id="location" type="text" placeholder="Enter location here"></input>
    <label class="visuallyhidden" for="departure-date">Departure Date</label>
    <input id="departure-date" type="date" placeholder="Enter departure date here"></input>
    <button id="getGeoname" onclick="return Client.submitForm(event)">get GEOname</button>
  </form>
</div>
<!-- 
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script> -->

</body>
</html>