button {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.9375rem 1.875rem;
  background-color: #e4002b;
  border: 1px solid #e4002b;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;

  &:hover,
  &:focus {
    background: #c3112d;
  }
}
