body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  color: #333f48;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1.5em;
}

.results-section {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  background: #f3f4f6;

  &__img {
    width: 60%;

    img {
      object-fit: cover;
      object-position: 50% 50%;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-left: 1em;

    &__title {
      font-size: .875rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #e4002b;
      margin: 0;
    }

    &__city-name {
      font-size: 26px;
      font-weight: normal;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    &__travel-period {
      font-size: 16px;
      color: #687980;
      margin: 0;
    }

    &__weather-tem {
      font-size: 24px;
      margin: 0.5em 0;
    }

    &__weather-des {
      font-size: 20px;
      color: #687980;
      margin: 0;
    }
  }
}

/* helper classes */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: -9999px;
  width: 1px;
}

.hidden {
  display: none;
}
